* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@media screen and (max-width: 767px) {
  #heading {
    width: 100%;
    display: flex;
  }
  .heading-content {
    max-width: 767px;
  }
  .heading-content-left {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  .heading-content-left > h1 {
    font-size: 2.5rem;
    width: 20%;
    padding: 5rem;
  }
  .content-left-group {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-wrap: wrap;
  }
  .calling-button {
    width: 75%;
  }
  .heading-content-right {
    height: 30rem;
  }
  .btn-learn {
    margin-top: 3rem;
  }
  .legacy-main-all {
    margin-bottom: 3rem;
    width: 95%;
  }
  .legacymain-left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .legacymain-left img {
    width: 15rem;
    height: 15rem;
  }
  #story {
    padding: 0;
  }
  .story-all {
    width: 100%;
    position: relative;
    margin-bottom: 6rem;
  }
  .story-title {
    padding: 2rem;
  }
  .story-readmoreall {
    width: 95%;
  }
  .story-readmore {
    width: calc(100% / 3);
    margin: 0 1rem;
  }
  .story-readmore img {
    height: 9rem;
  }
  .story-readmore > .story-readmore-title > h1 {
    font-size: 20px;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 15px;
  }
  .story-button {
    position: absolute;
    bottom: 0;
    margin: -4rem 0;
  }
  #factbook {
    margin: 3rem 0px;
  }
  .footer-all {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
  }
  .footer-link {
    width: 100%;
  }
  .footer-link-content a {
    font-size: 14px;
  }
  .footer-link-content {
    width: calc(100% / 4);
    display: flex;
    align-content: center;
    align-items: flex-start;
    padding: 1rem;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
  }
  #footer-link {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    height: max-content;
    width: 100%;
    padding: 1rem;
  }
  #footer-link > nav {
    width: calc(100% / 4);
    height: max-content;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
