* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Truculenta", sans-serif;
}
/* Mobile: */
@media screen and (max-width: 739px) {
  .footer-all {
    width: 100%;
    margin-top: 1.5rem;
  }
  .footer-link {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .footer-link-content {
    width: 50%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    overflow: hidden;
    padding: 1rem;
  }
  .social-media {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  #footer-link {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
}
/* Destop/PC */
@media screen and (min-width: 1024px) {
}
