* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* Mobile: */
@media screen and (max-width: 739px) {
  .leader-ship-title-span button {
    width: max-content;
  }
  .leader-ship-title-all {
    width: 95%;
    padding: 1rem;
  }
  .leader-ship-content-all {
    width: 80%;
  }
}
