* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Mobile: */
@media screen and (max-width: 739px) {
  .heading-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-content-left {
    width: 95%;
  }
  .calling-button {
    width: 80%;
  }
  .heading-content-right {
    width: 95%;
  }
  .legacy-content {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .legacy-left {
    width: 95%;
    border: none;
  }
  .legacy-left > h2 {
    font-size: 4rem;
  }
  .legacy-right {
    width: 95%;
    text-align: center;
  }
  .legacy-main-all {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .legacymain-left {
    width: 95%;
  }
  .legacymain-right {
    width: 95%;
    display: flex;
    align-items: center;
  }
  .legacymain-right > h1 {
    font-size: 4rem;
    text-align: center;
  }
  .story-all {
    width: 95%;
  }
  .story-title {
    text-align: center;
  }
  .story-title > h1 {
    font-size: 4rem;
  }
  .story-readmoreall {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .story-readmore {
    width: 95%;
    margin-bottom: 1rem;
    text-align: center;
  }
  .story-readmore > nav {
    width: 100%;
  }
  .story-readmore img {
    width: 100%;
    height: 100%;
  }
  .factbook-all {
    width: 100%;
  }
  .factbook-left {
    width: 95%;
    align-items: center;
  }
  .factbook-right {
    width: 95%;
  }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .calling-button {
    width: 100%;
  }
  .legacy-content {
    width: 95%;
  }
  .btn-learn {
    margin-top: 1.5rem;
  }
  .legacy-main-all {
    width: 95%;
  }
  .legacymain-right {
    padding: 0 1.5rem;
  }
  .story-all {
    width: 95%;
  }
  .story-readmore > .story-readmore-title > h1 {
    height: 13rem;
  }
  .story-readmore img {
    height: auto;
  }
  .factbook-all {
    width: 95%;
  }
  .factbook-left {
    padding: 1rem;
  }
  .footer-all {
    width: 95%;
  }
}
/* Destop/PC */
@media screen and (min-width: 1024px) {
}
