* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} /* Mobile: */
@media screen and (max-width: 739px) {
  #heading-about {
    width: 100%;
    padding-top: 7rem;
  }
  .heading-about-all {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .heading-aboutleft {
    width: 100%;
    height: 15rem;
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding-top: 2rem;
  }
  .heading-about-content {
    width: 95%;
  }
  .heading-aboutright {
    width: 100%;
  }
  .heading-about-bottom-all {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .heading-about-bottom-h1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  .heading-about-bottom-content {
    width: 100%;
  }
  .heading-about-bottom-content > p {
    width: 80%;
    padding: 0 1rem;
  }
  .cia-mean-left,
  .cia-mean-right,
  .what-we-do-left,
  .what-we-do-right,
  .how-we-do-left,
  .how-we-do-right,
  .mission-vision-left,
  .mission-vision-right,
  .organization-left,
  .organization-right,
  .leader-left,
  .leader-right,
  .your-talent-left,
  .your-talent-right {
    width: 100%;
    padding: 1rem;
  }
  .mission-vision-p {
    width: 100%;
  }
  .how-we-do-p {
    padding: 0;
  }
  .organization-left img {
    padding: 0;
  }
  .cia-mean-all,
  .what-we-do-all,
  .how-we-do-all,
  .mission-vision-all,
  .organization-all,
  .leader-all,
  .your-talent-all {
    width: 95%;
    display: flex;
    flex-direction: column;
  }
  .explore-more-all {
    width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-more-content {
    width: 90%;
    margin-bottom: 1.5rem;
  }
}

/* Tablet */
@media screen and (min-width: 740px) and (max-width: 1023px) {
  .cia-mean-all {
    width: max-content;
  }
  .how-we-do-p {
    padding: 1rem;
  }
  .explore-more-title {
    height: max-content;
  }
  .explore-more-all {
    width: 95%;
  }
  .explore-more-title h1 {
    font-size: 2rem;
  }
  .your-talent-all {
    width: 95%;
  }
  .your-talent-right > h1 {
    line-height: 4rem;
  }
}
/* Destop/PC */
@media screen and (min-width: 1024px) {
}
